.navbar{
    height: 100%;
    background-color: transparent;
    position: fixed;
    right: 0;
    margin: 20px;
}

.socialmedia{
    display: none;
    position: fixed;
    top: 0;
    right: 40px;
    margin: 20px;
}

.icon-container{
    height: 100%;
}

.icon{
    margin-bottom: 50px;
}

img{
    width: 25px;
}

mat-icon{
    color: white;
}

@media only screen and (max-width: 540px) {
    img {
        display: none;
    }
    .socialmedia{
        display: block;
    }
}