.navbar{
    height: 100%;
    background-color: transparent;
    position: fixed;
    right: 0;
    padding: 20px;
}

.icon-container{
    height: 100%;
}

.icon{
    margin-bottom: 50px;
}

img{
    width: 25px;
}

mat-icon{
    color: white;
}