<!--<mat-toolbar>
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div [ngClass]="deviceXs ? 'left-padding' : 'no-left-padding'">
        <span>The Imaginary Barber</span>
        <a routerLink="/Home">
          <button *ngIf="!deviceXs" mat-button>
            Home
          </button>
        </a>
        <a routerLink="/Appointments">
          <button *ngIf="!deviceXs" mat-button>
            Appointments
          </button>
        </a>
        <a routerLink="/Contact">
          <button *ngIf="!deviceXs" mat-button>
            Contact
          </button>
        </a>
      </div>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between center">
      <a routerLink="/Home">
        <button *ngIf="deviceXs" mat-button>
          Home
        </button>
      </a>
      <a routerLink="/Appointments">
        <button *ngIf="deviceXs" mat-button>
          Appointments
        </button>
      </a>
      <a routerLink="/Contact">
        <button *ngIf="deviceXs" mat-button>
          Contact
        </button>
      </a>
    </mat-toolbar-row>
</mat-toolbar>-->

<div class="navbar" fxLayout="column" fxLayoutAlign="start center">
    <div class="hamburger">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/Home">
          <button mat-button>
            Home
          </button>
        </a>
        <a mat-menu-item routerLink="/Appointments">
          <button mat-button>
            Appointments
          </button>
        </a>
        <a mat-menu-item routerLink="/Contact">
          <button mat-button>
            Contact
          </button>
        </a>
      </mat-menu>
    </div>

    <div class="icon-container" fxLayout="column" fxLayoutAlign="center center">
      <img src="../../assets/Facebook - Negative.png">
      <img src="../../assets/Instagram - Negative.png">
      <img src="../../assets/TikTok - Negative.png">
    </div>
</div>