.navbar{
    height: 100%;
    background-color: transparent;
    position: fixed;
    right: 0;
    padding: 20px;
}

.icon-container{
    height: 100%;
}

img{
    width: 25px;
    padding-bottom: 50px;
}

.left-padding{
    padding-left: 20%;
}

.no-left-padding{
    padding-left: 0%;
}

mat-toolbar{
    background-color: black;
}

span{
    color: white;
}

mat-icon{
    color: white;
}

a{
    color: black;
}