<div class="registration-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Create an account</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div fxLayout="row">
            <div class="label-item">First Name</div>
            <mat-form-field appearance="fill">
                <input matInput placeholder="John" name="firstName" ngModel required>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div class="label-item">Last Name</div>
            <mat-form-field appearance="fill">
                <input matInput placeholder="Doe" name="lastName" ngModel required>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div class="label-item">Telephone</div>
            <mat-form-field appearance="fill">
                <input matInput placeholder="06 12 345 6789" name="telephone" ngModel required>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div class="label-item">Email</div>
            <mat-form-field appearance="fill">
                <input matInput placeholder="John@example.com" name="email" ngModel required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div class="label-item">Password</div>
            <mat-form-field appearance="fill">
                <input matInput placeholder="********" [type]="'password'" name="password" ngModel required>
            </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
            <button mat-raised-button type="submit" class="hover">
                Registration
            </button>
        </div>
    </form>
</div>