<div class="services-container" fxLayoutAlign="center center">
    <div class="woman-services" fxLayout="column" fxLayoutAlign="space-evenly center">
        <button mat-raised-button routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{haircutSimple.name}} - {{haircutSimple.price}}$ {{haircutSimple.time}} Minutes
        </button>
        <button mat-raised-button routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{haircutComplex.name}} - {{haircutComplex.price}}$ {{haircutComplex.time}} Minutes
        </button>
        <button mat-raised-button routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{hairWash.name}} - {{hairWash.price}}$ {{hairWash.time}} Minutes
        </button>
        <button mat-raised-button routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{hairColoring.name}} - {{hairColoring.price}}$ {{hairColoring.time}} Minutes
        </button>
    </div>
</div>