<div *ngIf="!(man || woman)" class="Appointments-container" fxLayoutAlign="center center">
    <div class="Services">
        <a (click)="manClicked()">
            <button mat-raised-button class="man hover" fxLayoutAlign="center center">Man</button>
        </a>
        <a (click)="womanClicked()">
            <button mat-raised-button class="woman hover" fxLayoutAlign="center center">Woman</button>
        </a>
    </div>
</div>

<app-man-appointment *ngIf="man"></app-man-appointment>

<app-woman-appointment *ngIf="woman"></app-woman-appointment>
