.Appointments-container{
    width: 100%;
    height: 90%;
}

.Services{
    width: 70%;
    height: 40%;
    background-color: black;
    font-size: 5vw;
}

.man{
    width: 100%;
    height: 50%;
}

.woman{
    width: 100%;
    height: 50%;
}