<div class="contacts-container" fxLayout="column" fxLayoutAlign="center center">
    <div>
        <div class="email contact-margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>mail</mat-icon>
            example@example.hu
        </div>
        <div class="phone contact-margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>phone</mat-icon>
            <div style="margin-left: 5%">06 12 3456789</div>
        </div>
        <div class="location contact-margin" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>location_on</mat-icon>
            Hungary, Budapest, example street 12
        </div>
    </div>
</div>