<div class="services-container" fxLayoutAlign="center center">
    <div class="man-services" fxLayout="column" fxLayoutAlign="space-evenly center">
        <a routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{haircutSimple.name}} - {{haircutSimple.price}}$ {{haircutSimple.time}} Minutes
        </a>
        <a routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{haircutComplex.name}} - {{haircutComplex.price}}$ {{haircutComplex.time}} Minutes
        </a>
        <a routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{beardTrim.name}} - {{beardTrim.price}}$ {{beardTrim.time}} Minutes
        </a>
        <a routerLink="/Calendar" class="services-item hover" fxLayoutAlign="center center">
            {{beardShave.name}} - {{beardShave.price}}$ {{beardShave.time}} Minutes
        </a>
    </div>
</div>