.calendar-container{
    height: 100%;
    width: 100%;
    background-image: url("../../assets/empty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.datepicker-container{
    height: 20%;
    width: 100%;
    padding-top: 2%;
}

.demo-inline-calendar-card {
    width: 450px;
}

.timetable{
    width: 100%;
}

.timetable-container{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-bottom: 2%;
}

.timetable-item{
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    border: rgb(255, 255, 255) 2px solid;
}

.next-btn{
    width: 100%;
}

button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: white 1px solid;
}

.calendar-title{
    font-size: 20px;
}

mat-datepicker-toggle{
    color: white;
}

mat-label{
    color: white;
}