<div class="booking-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Do you have an account?</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div class="login-container" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" name="email" ngModel required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="'password'" name="password" ngModel required>
            </mat-form-field>
    
            <button mat-raised-button type="submit" class="hover">
                Login
            </button>
        </div>
    </form>
    <br>
    <p>If you do not have an account, you can create a new or continue as a guest</p>
    <div class="btn-container" fxLayoutAlign="center center">
        <button routerLink="/Registration" mat-raised-button class="hover">
            Registration
        </button>
        <button routerLink="/Guest" mat-raised-button class="hover">
            Guest
        </button>
    </div>
</div>